/* From http://www.responsivegridsystem.com/calculator/ */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% .3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SEVEN  */
.span_7_of_7 {
    width: 100%;
}

.span_6_of_7 {
    width: 85.67%;
}

.span_5_of_7 {
    width: 71.34%;
}

.span_4_of_7 {
    width: 57.01%;
}

.span_3_of_7 {
    width: 42.68%;
}

.span_2_of_7 {
    width: 28.35%;
}

.span_1_of_7 {
    width: 14.02%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { width: 100%; }
}