
body {
  background-color: rgba(4, 17, 160, 0.71);
}
h1 {
    padding: 0.5em 0.75em;
    background-color: rgba(0, 0, 0, 0.56);
    color: rgba(238, 238, 238, 0.91);
    border-radius: 10px;
}

.block {
    padding: 0.5em 1em;
    border-radius: 10px;
    border: solid 1px rgb(10, 2, 116);
    background-color: rgba(255, 255, 255, 0.81);
}

input, select {
    font-size: 110%;
    margin-bottom: 0.5em;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 15px;
    cursor: pointer;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
}

input[type=range]::-webkit-slider-thumb
{
    border:solid 1px black;
    -webkit-appearance: none;
    margin-top: -10px;
    background: #ffd9ab; height:30px; width:30px; border-radius: 30px;
}



input[type=range]::-moz-range-thumb
{
    margin-top: -10px;
    background:#ffd9ab; height:30px; width:30px; border-radius: 30px;
}

.pixel {
    height: 10em;
}

.pixel input[type=range] {
    height: 1em;
    width: 10em;
}

​