html {
  font-family: "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
  font-size: 100%;
}

h1, h2, h3, h3, h4, h5, h6 {
  font-family: "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", Gadget, sans-serif
}

h2 {
    margin: .3em 0;
}

nav a {
    text-decoration: none;
    margin-right: 0.5em;
    padding: 2px;
    border-radius: 5px;
    border: rgba(4, 17, 160, 0.71) solid 2px;
    background-color: rgb(4, 17, 160);
    color: whitesmoke;
}


