<div>
  <div id="thing-{name}" class="thing">
    <h2>Claire's Lights</h2>
    <form action="thing/{name}">
      <div>
        <label for="fill">Fill</label>
        <select id="fill" name="fill">
          <option value="stripe">Stripe</option>
          <option value="spread">Spread</option>
        </select>
        <label id="effect" for="effect">Effect</label>
        <select name="effect">
          <option value="solid">Solid</option>
          <option value="down">Chase</option>
        </select>
      </div>
      <div>
        <label for="speed">Speed</label>
        <input name="speed" id="speed" type="range" min="1" max="100"/>
      </div>
      <div class="pixels">
        <label>Pixel Colors</label>
        <input name="pixel[0]" readonly="true" class="jscolor" value="FF0000"/>
        <input name="pixel[1]" readonly="true" class="jscolor" value="00FF00"/>
        <input name="pixel[2]" readonly="ture" class="jscolor" value="0000FF"/>
      </div>
      <input type="submit" name="lights" value="Try It!"/>
      <input type="submit" name="off" value="Off"/>
    </form>
  </div>
</div>