<div>
  <h2>NodeMCU V3</h2>
  <img src="/assetts/lolinv3.svg" style="width:100%"/>
  <table>
    <thead>
      <tr>
        <th>Pin</th>
        <th>Function</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr-foreach>
        <td>{label}</td>
        <td>{function}</td>
        <td><a href="things/lightdemo" class="use-ajax">On</a></td>
        <td>Off</td>
      </tr-foreach>
    </tbody>
  </table>
</div>